
$s = "(min-width: 0px) and (max-width: 479px)"
$m = "(min-width: 480px) and (max-width: 959px)"
$l = "(min-width: 960px)"
$ns = "(min-width: 480px)"
$nl = "(max-width: 959px)"

.customBtn1 {
  background-color: #006471;
}

.yrWhite {
  background-color: #fafafa;
}

.yrLogin {
  top: 1.8rem;
  right: 6rem;
  cursor: pointer;
}

.vh-20 { height: 20vh; }
.vh-70 { height: 70vh; }
.vh-90 { height: 90vh; }
.vh-10 { height: 10vh; }

.w6
  // @media (max-width 479*$px)
  @media (max-width 739*$px)
    width: 20rem

.mnw1  {  min-width: 1rem; }
.mnw2  {  min-width: 2rem; }
.mnw3  {  min-width: 4rem; }
.mnw4  {  min-width: 8rem; }
.mnw5  {  min-width: 16rem; }
.mnw6  {  min-width: 24rem; }
.mnw7  {  min-width: 32rem; }
.mnw8  {  min-width: 45rem; }
.mnw9  {  min-width: 62rem; }