
html, body
  height 100%
  margin 0

textarea:focus, input:focus, *:focus
  outline none

.hero
  background: url(../images/heros/hero.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

.hero1
  background: url(../images/heros/hero1.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

.text-shadow-1
  text-shadow: 2px 2px 4px #333;

.left-custom-5
  left: 5%

.left-custom-40
  left: 40%;

.right-custom-5
  right: 5%;

.center-custom
  left: 50%;
  transform: translate(-60%);