
$header_height = 60*$px

.layout
  height 100%
  margin 0
  display flex
  flex-direction column
  .header
    height $header_height
    .user img 
      width 40*$px
  .content
    margin-top $header_height
    flex 1 0 auto
  .footer 
    flex-shrink 0
    margin-bottom 10px
  @media (min-width 960*$px)
    .header
      height $header_height * 1.4
      .user img 
        width 50*$px
    .content
      margin-top $header_height * 1.4