
.color-primary
  color $color_theme
.bg-color-primary
  background-color $color_theme

.color-primary-light
  color $color_theme_light
.bg-color-primary-light
  background-color $color_theme_light

.color-text
  color $color_dark_text
.bg-color-text
  background-color $color_dark_text

.almost-white
  color $color_light
.bg-almost-white
  background-color $color_light

// - - -

.color-a1
  color $color_a1
.bg-color-a1
  background-color $color_a1

.color-a2
  color $color_a2
.bg-color-a2
  background-color $color_a2

.color-a3
  color $color_a3
.bg-color-a3
  background-color $color_a3

.color-a4
  color $color_a4
.bg-color-a4
  background-color $color_a4

.color-a5
  color $color_a5
.bg-color-a5
  background-color $color_a5

.color-b1
  color $color_b1
.bg-color-b1
  background-color $color_b1

.color-b2
  color $color_b2
.bg-color-b2
  background-color $color_b2

.color-b3
  color $color_b3
.bg-color-b3
  background-color $color_b3

.color-b4
  color $color_b4
.bg-color-b4
  background-color $color_b4

.color-b5
  color $color_b5
.bg-color-b5
  background-color $color_b5
