html,
body {
  height: 100%;
  margin: 0;
}
textarea:focus,
input:focus,
*:focus {
  outline: none;
}
.hero {
  background: url("../images/heros/hero.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero1 {
  background: url("../images/heros/hero1.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text-shadow-1 {
  text-shadow: 2px 2px 4px #333;
}
.left-custom-5 {
  left: 5%;
}
.left-custom-40 {
  left: 40%;
}
.right-custom-5 {
  right: 5%;
}
.center-custom {
  left: 50%;
  transform: translate(-60%);
}
.layout {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.layout .header {
  height: 3.75rem;
}
.layout .header .user img {
  width: 2.5rem;
}
.layout .content {
  margin-top: 3.75rem;
  flex: 1 0 auto;
}
.layout .footer {
  flex-shrink: 0;
  margin-bottom: 10px;
}
@media (min-width: 60rem) {
  .layout .header {
    height: 5.25rem;
  }
  .layout .header .user img {
    width: 3.125rem;
  }
  .layout .content {
    margin-top: 5.25rem;
  }
}
.color-primary {
  color: #2f4858;
}
.bg-color-primary {
  background-color: #2f4858;
}
.color-primary-light {
  color: #1c6e7d;
}
.bg-color-primary-light {
  background-color: #1c6e7d;
}
.color-text {
  color: #2f4858;
}
.bg-color-text {
  background-color: #2f4858;
}
.almost-white {
  color: #fafafa;
}
.bg-almost-white {
  background-color: #fafafa;
}
.color-a1 {
  color: #1c6e7d;
}
.bg-color-a1 {
  background-color: #1c6e7d;
}
.color-a2 {
  color: #039590;
}
.bg-color-a2 {
  background-color: #039590;
}
.color-a3 {
  color: #4bbc8e;
}
.bg-color-a3 {
  background-color: #4bbc8e;
}
.color-a4 {
  color: #9bde7e;
}
.bg-color-a4 {
  background-color: #9bde7e;
}
.color-a5 {
  color: #f9f871;
}
.bg-color-a5 {
  background-color: #f9f871;
}
.color-b1 {
  color: #485a73;
}
.bg-color-b1 {
  background-color: #485a73;
}
.color-b2 {
  color: #676a8b;
}
.bg-color-b2 {
  background-color: #676a8b;
}
.color-b3 {
  color: #8c7a9f;
}
.bg-color-b3 {
  background-color: #8c7a9f;
}
.color-b4 {
  color: #b38aae;
}
.bg-color-b4 {
  background-color: #b38aae;
}
.color-b5 {
  color: #da9bb7;
}
.bg-color-b5 {
  background-color: #da9bb7;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
}
*.links a {
  text-decoration: none;
  cursor: pointer;
  color: #2f4858;
}
*.links a:visited {
  color: #2f4858;
}
*.links a:hover {
  color: #1c6e7d;
}
#__next {
  height: 100%;
  margin: 0;
}
#nprogress .bar {
  background-color: #2f4858;
  z-index: 9999;
}
#nprogress .bar .peg {
  box-shadow: none;
}
#nprogress .spinner {
  display: none;
}
.customBtn1 {
  background-color: #006471;
}
.yrWhite {
  background-color: #fafafa;
}
.yrLogin {
  top: 1.8rem;
  right: 6rem;
  cursor: pointer;
}
.vh-20 {
  height: 20vh;
}
.vh-70 {
  height: 70vh;
}
.vh-90 {
  height: 90vh;
}
.vh-10 {
  height: 10vh;
}
@media (max-width: 46.1875rem) {
  .w6 {
    width: 20rem;
  }
}
.mnw1 {
  min-width: 1rem;
}
.mnw2 {
  min-width: 2rem;
}
.mnw3 {
  min-width: 4rem;
}
.mnw4 {
  min-width: 8rem;
}
.mnw5 {
  min-width: 16rem;
}
.mnw6 {
  min-width: 24rem;
}
.mnw7 {
  min-width: 32rem;
}
.mnw8 {
  min-width: 45rem;
}
.mnw9 {
  min-width: 62rem;
}
